<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Notifications">
  <ion-content class="padding">

  <div class="search-results">
    <div class="side-padding"><h3>Notifications</h3></div>
    <div class="search-results-list">
      <section class="sitem" href="" ng-repeat="item in items">
        <div class="distance">{{item.distance|formatDistanceValue}}</div>
        <div class="name">
          <strong>{{item.name}}</strong>
        </div>
        <div class="info">
          <div rating-stars value="{{item.rating}}"></div>
          <i>{{item.addr}}</i>
        </div>
      </section>


    </div>
    <div class="side-padding">
      <a class="link-more-small" href="">More</a>
    </div>
    <br/>
  </div>

  </ion-content>
</ion-view>
