<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Place Details">
  <ion-content class="page-details">
    <div class="side-padding"><h3>{{place.name}}</h3></div>
    <img src="{{place.img}}" style="max-width:100%;">
    <div class="section-tags side-padding">
      <div class="tags-cloud">
        <a class="item-tag" ng-repeat="tag in tags">
          {{tag.name}}
        </a>
      </div>
    </div>
    <div class="section-rating side-padding">
      <label>Rating</label> <big><rating-stars value="{{place.rating}}"></big>
    </div>
    <div class="side-padding">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae tempor ex. Vestibulum sollicitudin velit vitae massa condimentum tincidunt. Vivamus finibus placerat nisl. Donec egestas eget quam a viverra. Sed vitae quam elit. Mauris dignissim eros sed dignissim lobortis.</p>
      <p>Morbi placerat mi arcu, id ullamcorper odio volutpat eget. Nam sodales enim sit amet egestas varius. Aenean ac condimentum dolor, non luctus est. Fusce ut ipsum arcu. Phasellus commodo egestas purus. Aenean commodo lacus ac mattis finibus. Sed porttitor non ligula in porttitor. Phasellus sed aliquet tortor, ut ultrices erat. Nam sodales in ipsum et egestas. </p>
      <p>Nullam vulputate vulputate neque, laoreet dictum erat viverra non. </p>
    </div>

  </ion-content>
</ion-view>
